/**
*	@author SignpostMarv
*/
@import "login.css";
@import "ui.css";

#index{
margin: 0 ;
padding: 0 ;
}
#index iframe{
width: 100% ;
height: 100% ;
border-width: 0 ;
margin: 0 ;
padding: 0 ;
}
#loginscreen{
position: relative ;
height: 80px ;
}