#loginstuff td {
	padding-right: 20px;
}

body {
	padding-top: 5px;
	font-family: "Lucida Grande", Verdana, Arial, sans-serif;
	background-color: black;
	color: #fefefe;
}

body.loggingin {
	background-color: white;
	color: black;
}

#advanced {
	top: 18px;
	position: absolute;
}

body.ltr #advanced {
	right: 5px;
}

body.rtl #advanced {
	left: 5px;
}

#advanced td {
	padding-left: 10px;
	text-align: center;
}

#loginstuff {
	padding-left: 20px;
}

#loginlocation {
	padding-left: 20px;
	float: left;
}

#logingrid {
	float: right;
	padding-right: 7px;
}

body.rtl #loginlocation {
	padding-left: 10px; /* Compensate for body padding */
}

#login_secondrow {
	padding-top: 5px;
}

#loginsim {
	position: absolute;
	top: -1000px;
	left: -1000px;
}

#label_sound {
	padding-left: 20px;
}