[submodule "server/assemblies/libopenmetaverse"]
	path = server/assemblies/libopenmetaverse
	url = https://github.com/openmetaversefoundation/libopenmetaverse.git
[submodule "server/bin/client"]
	path = server/bin/client
	url = https://github.com/SignpostMarv/AjaxLife-client.git
