<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
    <head>
        <title>AjaxLife</title>
        <link href="{STATIC_ROOT}license.txt" type="text/plain" rel="license" />
        <link href="{STATIC_ROOT}resources/css/ext-all.css" type="text/css" rel="stylesheet" />
        <link href="{STATIC_ROOT}resources/css/ytheme-aero.css" type="text/css" rel="stylesheet" />
        <script type="text/javascript" src="{STATIC_ROOT}AjaxLife.Libs.js"></script>
        <script type="text/javascript" src="{STATIC_ROOT}Crypto.js"></script>
        <link href="{STATIC_ROOT}login.css" type="text/css" rel="stylesheet" />
        <link href="{STATIC_ROOT}ui.css" type="text/css" rel="stylesheet" />
        <script type="text/javascript" src="{STATIC_ROOT}login.js"></script>
        <!-- The really big file -->
        <!-- <script type="text/javascript" src="{STATIC_ROOT}AjaxLife.All.js-{ENCODING)"></script> -->
        
        <!-- These are for if you need differing URLs for gzipped/non-gzipped versions.
        <link href="{STATIC_ROOT}resources/css/ext-all.css-{ENCODING}" type="text/css" rel="stylesheet" />
        <link href="{STATIC_ROOT}resources/css/ytheme-aero.css-{ENCODING}" type="text/css" rel="stylesheet" />
        <script type="text/javascript" src="{STATIC_ROOT}AjaxLife.Libs.js-{ENCODING}"></script>
        <script type="text/javascript" src="{STATIC_ROOT}Crypto.js-{ENCODING}"></script>
        <link href="{STATIC_ROOT}login.css-{ENCODING}" type="text/css" rel="stylesheet" />
        <link href="{STATIC_ROOT}ui.css-{ENCODING}" type="text/css" rel="stylesheet" />
        <script type="text/javascript" src="{STATIC_ROOT}login.js-{ENCODING}"></script>
        
        -->
        
        <!-- The below is used for development. -->
        <script src="{STATIC_ROOT}AjaxLife.js" type="text/javascript"></script>
        <script src="{STATIC_ROOT}AjaxLife.Strings.js" type="text/javascript"></script>
        <script src="{STATIC_ROOT}AjaxLife.Widgets.js" type="text/javascript"></script>
        <script src="{STATIC_ROOT}AjaxLife.Constants.js" type="text/javascript"></script>
        <script src="{STATIC_ROOT}AjaxLife.InstantMessage.js" type="text/javascript"></script>
        <script src="{STATIC_ROOT}AjaxLife.Map.js" type="text/javascript"></script>
        <script src="{STATIC_ROOT}AjaxLife.NameCache.js" type="text/javascript"></script>
        <script src="{STATIC_ROOT}AjaxLife.Network.js" type="text/javascript"></script>
        <script src="{STATIC_ROOT}AjaxLife.SpatialChat.js" type="text/javascript"></script>
        <script src="{STATIC_ROOT}AjaxLife.Toolbar.js" type="text/javascript"></script>
        <script src="{STATIC_ROOT}AjaxLife.Friends.js" type="text/javascript"></script>
        <script src="{STATIC_ROOT}AjaxLife.Groups.js" type="text/javascript"></script>
        <script src="{STATIC_ROOT}AjaxLife.Contacts.js" type="text/javascript"></script>
        <script src="{STATIC_ROOT}AjaxLife.Search.js" type="text/javascript"></script>
        <script src="{STATIC_ROOT}AjaxLife.StatusBar.js" type="text/javascript"></script>
        <script src="{STATIC_ROOT}AjaxLife.Profile.js" type="text/javascript"></script>
        <script src="{STATIC_ROOT}AjaxLife.Utils.js" type="text/javascript"></script>
        <script src="{STATIC_ROOT}AjaxLife.Texture.js" type="text/javascript"></script>
        <script src="{STATIC_ROOT}AjaxLife.AvatarsNear.js" type="text/javascript"></script>
        <script src="{STATIC_ROOT}AjaxLife.Inventory.js" type="text/javascript"></script>
        <script src="{STATIC_ROOT}AjaxLife.Stats.js" type="text/javascript"></script>
        <script src="{STATIC_ROOT}AjaxLife.MiniMap.js" type="text/javascript"></script>
        <script src="{STATIC_ROOT}AjaxLife.ScriptDialogs.js" type="text/javascript"></script>
        <script src="{STATIC_ROOT}AjaxLife.Keyboard.js" type="text/javascript"></script>
        <script src="{STATIC_ROOT}AjaxLife.Notecard.js" type="text/javascript"></script>
        <script src="{STATIC_ROOT}AjaxLife.LSL.js" type="text/javascript"></script>
        <script src="{STATIC_ROOT}AjaxLife.InventoryProperties.js" type="text/javascript"></script>
        <script src="{STATIC_ROOT}AjaxLife.Sound.js" type="text/javascript"></script>
        <script src="{STATIC_ROOT}AjaxLife.Parcel.js" type="text/javascript"></script>
        <script src="{STATIC_ROOT}AjaxLife.Media.js" type="text/javascript"></script>

        <script type="text/javascript">
            var gSessionID = "{SESSION_ID}";
            AjaxLife.STATIC_ROOT = "{STATIC_ROOT}";
            // RSA encryption details.
            var CHALLENGE = "{CHALLENGE}";
            var RSA_EXPONENT = "{RSA_EXPONENT}";
            var RSA_MODULUS = "{RSA_MODULUS}";
        </script>
    </head>
    <body class="ltr">
        <div id="loginscreen">
            <div>
                <form action="" id="form_login">
                    <!-- Right aligned. -->
                    <div id="advanced">
                        <span id="label_lang">(loading)</span>
                        <!-- This is filled when the script loads 
                            As an added bonus, if your local language is available
                            it will be used. -->
                        <select name="lang" id="lang">
                            <option value="en" selected="selected">(loading)</option>
                        </select>
                    </div>
                    <!-- Left-aligned -->
                    <table id="loginstuff">
                        <tr>
                            <td id="label_first">(loading)</td>
                            <td id="label_last">(loading)</td>
                            <td id="label_pass">(loading)</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" id="first" />
                            </td>
                            <td>
                                <input type="text" id="last" />
                            </td>
                            <td>
                                <input type="password" id="password" />
                            </td>
                            <td>
                                <input type="button" value="(loading)" id="btn_login" />
                            </td>
                        </tr>
                    </table>
                    <input type="hidden" name="sid" value="{SESSION_ID}" />
                </form>
            </div>
            <div id="login_secondrow">
                <div id="loginlocation">
                    <span id="label_loginlocation">(loading)</span>:
                    <select size="1" id="location">
                        <option value="home">(loading)</option>
                        <option value="last" selected="selected">(loading)</option>
                        <option value="arbitrary">(loading)</option>
                    </select>
                    <input type="text" id="loginsim" style="display: none;" />
                    <span id="label_sound">(loading)</span>:
                    <input type="checkbox" checked="checked" id="enablesound" />
                </div>
                <div id="logingrid">
                    <span id="label_grid">(loading)</span>:
                    <select id="grid">
                        {GRID_OPTIONS}
                    </select>
                </div>
            </div>
        </div>
        <div id="uiscreen" style="display: none; height: 100%; width: 100%;">
            <img src="{STATIC_ROOT}images/background.jpg" id="background" alt="Background - island in the sunset" />
            <div id="statusbar"></div>
            <div id="toolbar"></div>
            <!-- Canvases seem to have issues with dynamic generation and scaling, at least in WebKit -->
            <canvas id="minimap" width="256" height="256"></canvas>
            <!-- This one is used to avoid having to redraw the backround each time. -->
            <canvas id="minimap-landscape" width="256" height="256"></canvas>
            <!-- This is hidden behind the background image. -->
        </div>
    </body>
</html>
