<div class="panel" title="Login" selected="true" hideBackButton="true">
	<h2>Enter your Second Life name and password</h2>
	<fieldset>
		<div class="row">        
			<label>First name:</label>
			<input type="text" name="first"/>
		</div>
		<div class="row">
			<label>Last name:</label>
			<input type="text" name="last"/>
		</div>
		<div class="row">
			<label>Password:</label>
			<input type="password" name="pass">
		</div>
	</fieldset>
	<a class="whiteButton" type="submit" href="#" target="_self" id="btnlogin">Log in</a>
	<div id="sid" style="display: none;">{SESSION_ID}</div>
</div>