<html>
	<head>
		<title>Log in</title>
		<script type="text/javascript" src="{STATIC_ROOT}protaculous.js"></script>
		<script type="text/javascript" src="{STATIC_ROOT}ext-prototype-adapter.js"></script>
		<script type="text/javascript" src="{STATIC_ROOT}ext-all.js"></script>
		<link href="{STATIC_ROOT}resources/css/ext-all.css" type="text/css" rel="stylesheet" />
		<link href="{STATIC_ROOT}resources/css/ytheme-aero.css" type="text/css" rel="stylesheet" />
		<link href="{STATIC_ROOT}login.css" type="text/css" rel="stylesheet" />
		<script type="text/javascript" src="{STATIC_ROOT}login.js"></script>
		<script type="text/javascript">var gSessionID = "{SESSION_ID}";</script>
	</head>
	<body>
		<form action="main.kat" method="post" id="continue" target="_top" id="form_login">
			<table id="loginstuff">
				<tr>
					<td>First name</td>
					<td>Last name</td>
					<td>Password</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td><input type="text" id="first" /></td>
					<td><input type="text" id="last" /></td>
					<td><input type="password" id="password" /></td>
					<td><input type="button" value="Log in" id="btn_login" /></td>
				</tr>
			</table>
			<div id="language">
				Language:<br />
				<select name="lang">
					<option value="en" selected="selected">English</option>
					<option value="es">Spanish</option>
					<option value="fr">French</option>
					<option value="de">German</option>
					<option value="da">Danish</option>
					<option value="it">Italian</option>
				</select>
			</div>
			<input type="hidden" name="sid" value="{SESSION_ID}" />
		</form>
		<!--
		This is all still true, but screws up the layout.
		<hr style="width: 90%" />
		<p>Your password is passed to my server encrypted, and passed to Linden Lab's server encrypted.<br />
		It is never stored or logged.</p>
		<p>That said, use your own judgement before using this. If you're unsure, perhaps try an alt with a different password first?</p>
		-->
	</body>
</html>
