/* Chat/IM stuff */

.comm-spacer {
	height: 325px;
}

.comm-chatlog {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 320px;
	height: 340px;
	background-color: white;
	overflow: auto;
}

body[orient="landscape"] .comm-chatlog {
	width: 480px;
	height: 191px;
}

.comm-input {
	width: 100%;
	position: absolute;
	bottom: 0px;
	left: 0px;
}

.comm-chatlog .timestamp {
	color: grey;
	padding-right: 10px;
}

/* Chat stuff */

.message.object {
	color: #39bc4b 
}

.message.system {
	color: #42cbcf;
}

/* General UI stuff */

.notification {
	max-width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	position: fixed;
	left: 20px;
	bottom: 0px;
	background-color: #eaeaea;
	border-width: thin;
	border-color: black;
	border-style: solid;
	white-space: nowrap;
	opacity: 0;
	-webkit-transition: opacity 1s linear;
	z-index: 10000;
}

.notification.visible {
	opacity: 1;
}